<div id="init_panel" v-show="mLoad">
    <component v-bind:is="getVue(this,'headTemp')" getValue="1"></component>
    <div style="width:100%;padding-top:20px;padding-bottom:20px;">
        <component v-bind:is="getVue(this,'AuthorATemp')"></component>
    </div>
    <div style="background-color: rgb(5, 56, 68);color:#FFFFFF;">now url to save for history-><input type="button" v-on:click="saveHomeToHistory()" value="click" /></div>
    <div style="background-color: rgb(61, 36, 6);color:#FFFFFF;">data-value->{{title}}</div>
    <div style="background-color:#666666;">
        aa_TEMP----start 異步載入 樣版(後注入需重起渲染)
        <component v-bind:is="getVue(this,'aaTemp')"></component>
        aa_TEMP----end
    </div>
    <div style="background-color:rgb(78, 11, 140);">
    全域自定義指令bind 調用----start
    <div v-desbind:bindOrderIDName="toMesBind" style="background-color:blueviolet;"></div><!--全域 自定義指令 bind 調用-->
    全域自定義指令bind 調用----end
    </div>
    <div style="background-color:#162109;color:#FFFFFF;border-bottom:1px solid #FFFFFF;"> task 系統 測試(output console.log(開發者模式)) <input type="button" value="運行Task測試" v-on:click="$m.taskObj.run()" /></div>
    <div style="background-color:#162109;color:#FFFFFF;"> catch 全域圖片(已載入直接取用) <img id="aa_index_closBt" style="width:70px;cursor:pointer;" v-loadimg="importLoad.pub.libSrc('takephoto.png')" /></div>
    <div style="background-color:rgb(51, 48, 3);color:#FFFFFF;">
        <input v-model="textBox" type="text" v-upm:modelOnlyID="textBox" />[[全域自定義指令 v-model update value 調用]]
        <br/><input v-model="textBox" type="text" v-focus:onlyInputIDName="textBox"/><!--全域自定義指令 節點 元素 調用-->
        {{textBox}} {{((mLoad)?$m.mymodel():"")}}
    </div>
    <!--getJson 取用 <json>{}</json>-->
    <div style="width:100%;background-color:#000000;color:#FFFFFF;">html-Json-ch = {{getJson("ch").HIHI}},<br>html-Json-eh = {{getJson("en").HIHI}},</div>
    <!--getVue 自動喚醒 component 載入 樣版-->
    <component v-bind:is="getVue(this,'footTemp')" footValue="index page=> to this value"></component>
</div>
<!--僅注入 唯一(不能存在多餘逗符號) -->
<json>
{
    "en":{
        "HIHI":"OK"
    },
    "ch":{
        "HIHI":"好"
    }
}
</json>