#init_panel{
width:100%}
#init_panel #AAPanel{
position:relative;
margin-left:auto;
margin-right:auto;
width:100%;
min-width:200px;
min-height:300px;
max-width:400px;
border-radius:30px;
background-color:#f80}
#init_panel #AAPanel #meAn{
position:relative;
width:100%;
overflow:hidden;
border-radius:30px}
#init_panel #AAPanel #meAn #meAn_bk{
position:relative;
top:0px;
width:100%}
#init_panel #AAPanel #meAn #meAn_bk_wav{
position:absolute;
top:0px;
left:0px;
width:100%}
#init_panel #AAPanel #meAn #meAn_369{
position:absolute;
top:0px;
left:0px;
width:100%}
#init_panel #AAPanel #meAn #meAn_body{
position:absolute;
top:0px;
left:0px;
width:100%}
#init_panel #AAPanel #meAn #meAn_me{
position:absolute;
top:0px;
left:0px;
width:100%}
#init_panel #AAPanel #meAn #meAn_dog_1{
position:absolute;
top:73%;
right:20%;
width:25%}
#init_panel #AAPanel #meAn #meAn_dog_2{
position:absolute;
top:40%;
right:1%;
width:25%}
#init_panel #AAPanel #meAn #meAn_dog_3{
position:absolute;
top:67%;
right:3%;
width:20%}
#init_panel #AAPanel #meAn #meAn_book{
cursor:pointer;
position:absolute;
top:65.1%;
left:5%;
width:30%}
#init_panel #AAPanel #meAn #meAn_bookname{
position:absolute;
top:78%;
left:31%;
width:3%}
#init_panel #AAPanel #meAn #meAn_car{
cursor:pointer;
position:absolute;
top:86%;
left:25%;
width:20%}
#init_panel #AAPanel #meAn #meAn_dgx_bk{
position:absolute;
top:79%;
left:39%;
width:17%}
#init_panel #AAPanel #meAn #meAn_dgx{
cursor:pointer;
position:absolute;
top:79.05%;
left:43.7%;
width:8%}
#init_panel #AAPanel #meAn #meAn_mark{
position:absolute;
top:77%;
left:32%;
width:10%}
#init_panel #AAPanel #meAn #meAn_vio{
cursor:pointer;
position:absolute;
top:94%;
left:46%;
width:10%}
 
