body {
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height:166%;
    font-family:Microsoft JhengHei;
}

textarea {
    resize:none;
}
select,input,textarea,button
{
    cursor:pointer;
}
select,input,textarea{
    font-size:15px;
    font-weight:bold;
    border-radius: 5px;
    border:2px solid #EEE;
    color:#555;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #bcbcbc;
}

::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #bcbcbc;
}

::-moz-placeholder {
    color: #bcbcbc;
}

::-ms-input-placeholder {
    color: #bcbcbc;
}

::placeholder {
    color: #bcbcbc;
}
